/* custom styles */

.container {
  text-align: center;
  padding-top: 50px;
  max-width: 300px;
}

#header {
  width: 100%;
  display:inline-block;
}

#toolbox {
  float: left;
  max-width: 20%;
  margin: 10pt;
}

#toolbox .glyphicon {
  font-size: 20pt;
  padding: 4pt;
  display: inline-block;
  vertical-align: middle  
}

#toolbox .selected {
  background-color: #BBBBBB;
}

.classbutton {
  width: 30pt;
  float: left;
}

#classmapbox {
  float: left;
  max-width: 50%;
  margin: 10pt;
}

#classmapbox .selected {
  background-color: #BBBBBB;
}

#classmapbox .glyphicon {
  font-size: 28pt;
  padding: 1pt;
  display: inline-block;
  vertical-align: middle  
}

input{
  text-align: center;
  border: 5px solid;
  padding: 13px 12px;
  font-size: 16px;
  outline: none;
  margin-bottom: 20px;
}

ul{
  margin-left: 20px;
  text-align: left;
}

#navbox {
  position: relative;
  float: right;
  top: 0px;
  width: 15%;
  margin-right: 10pt;
  padding: 10pt;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

#navbuttons .glyphicon {
    font-size: 20pt;
    padding: 4pt;
}

.glyphicon {
    vertical-align: middle;
    margin-right: 4pt;
}

#imagebox {
  position: relative;
  left: 20pt;
  top: 20pt;
}

#svgbox {
  position: relative;
  left: 20pt;
  top: 20pt;
}

#imagebox img {
  position: absolute;
  left: 0px;
  top: 0px;
}

#svg {
  font: 10px sans-serif;
  cursor: crosshair;
  position: absolute;
  left: 0px;
  top: 0px;
  border-style: solid;
  border-color: red;
  border-width: 2px;
}

.green {
  color: green;
}

.imagelink a {
  cursor: pointer;
}

.imagelink a.selected {
  color: red;
}
