<html>
  <head>
    <title>Annot labeling tool</title>
    <link href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>
  <body>
    <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script> 
    <script src="{{ url_for('bower.static', filename='d3/d3.min.js') }}"></script> 
    <script type="text/javascript">$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script> 
    <script src="{{ url_for('static', filename='scripts/draw.js') }}"></script> 
    <div id="classmapbox"></div>
    <div id="imagecontainer">
        <div id="imagebox"></div>
        <div id="svgbox"></div>
    </div>
    <div id="navbox">
        <div id="navbuttons">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="glyphicon glyphicon-level-up"></span>
            <span class="glyphicon glyphicon-home"></span>
        </div>
        <div id="dirlist"></div>
    </div>
  </body>