<html>
  <head>
    <title>Annot labeling tool</title>
    <link href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>
  <body>
    <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script> 
    <script src="{{ url_for('bower.static', filename='d3/d3.min.js') }}"></script> 
    <script src="{{ url_for('bower.static', filename='Keypress/keypress.js') }}"></script> 
    <script type="text/javascript">$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script> 
    <script src="{{ url_for('static', filename='scripts/draw.js') }}"></script> 
    <div id="header">
        <div id="classmapbox" class="btn-toolbar" role="toolbar">
          <div class="btn-group">
          </div>            
        </div>
        <div id="toolbox" class="btn-toolbar" role="toolbar">
          <div class="btn-group">
            <button type="button" target="dottool" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span></button>
            <button type="button" target="boxtool" class="btn btn-default" aria-label="Center Align"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></button>
            <button type="button" target="pentool" class="btn btn-default" aria-label="Right Align"><span class="toolbutton glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
            <button type="button" target="erasertool" class="btn btn-default" aria-label="Justify"><span class="toolbutton glyphicon glyphicon-erase" aria-hidden="true"></span></button>
          </div>
    </div>        
    </div>
    <div id="imagecontainer">
        <div id="imagebox"></div>
        <div id="svgbox"></div>
    </div>
    <div id="navbox">
        <div id="navbuttons">
            <span class="glyphicon glyphicon-arrow-up"></span>
            <span class="glyphicon glyphicon-arrow-down"></span>
            <span class="glyphicon glyphicon-level-up"></span>
            <span class="glyphicon glyphicon-home"></span>
        </div>
        <div id="dirlist"></div>
    </div>
  </body>